@import "../../styles/main.scss";

.checkout-container {
  @include flexWithValue(center, center);
  flex-direction: column;
  width: 90%;
  min-height: calc(100dvh - 64px);
  margin: 0 auto 0 auto;
  padding: 30px 0 40px 0;
  .contentStyle {
    width: 90%;
    min-height: 75dvh;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px;
    padding: 30px;
    // margin: 20px 0;
    border: 3px solid whitesmoke;
    // @media only screen and (max-width: 1265px) {
    //   width: 70%;
    // }
    @media only screen and (max-width: 910px) {
      width: 95%;
      padding: 30px 10px;
    }
  }
}

.form-shipping {
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  border: 3px solid whitesmoke;
  margin-top: 20px;
}

.shipping-btn {
  margin: auto 0 0 auto !important;
  // float: right !important;;
}

.form-payMethod {
  height: 500px;
  width: 50%;
  margin: auto;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  // padding-top: 20px;
  // box-shadow: 0px 0px 4px -1px;
  border: 3px solid whitesmoke;
  padding: 20px;
  margin-top: 20px;
}

.payMethod-btn {
  margin-top: auto;
}

.order-summary {
  display: flex;
  padding: 20px 0;
  width: 80%;
  .address-container {
    width: 70%;
    .pd-details {
      padding: 15px 0;
    }
    .order-item-heading {
      padding: 10px 0;
    }
    .order-container {
      // display: flex;
      .details {
        display: flex;
        align-items: center;
        // justify-content: space-evenly
        gap: 30px;
        margin: 10px 0;
      }
      .img-box {
        @include flex();
        max-width: 50px;
        max-width: 50px;
        img {
          border-radius: 8px;
          max-width: 100%;
          max-width: 100%;
        }
      }
    }
    @media only screen and (max-width: 700px) {
      width: 100%;
    }
  }
  .order-price {
    width: 30%;
    border: 2px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    min-width: 280px;
    @media only screen and (max-width: 700px) {
      width: 95%;
      margin: 10px auto;
    }
  }
  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}
