@import "../../styles/main.scss";

.card-container {
  // box-shadow: -2px 3px 14px -10px rgba(0, 0, 0, 0.59);
  width: 270px;
  height: 350px;
  // background-color: #e7e7e7;
  color: #000;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  .img-wrapper {
    width: 100%;
    height: 80%;
    @include flex();
    background-color: #e7e7e7;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
  }
  .image-box img {
    max-width: 100%;
    max-height: 100%;
  }

  .details-box {
    // @include flex();
    // flex-direction: column;
    padding-top: 12px;
  }
  // .ant-card-bordered {
  //   // border-radius: 10px;
  //   border: 0;
  //   border-radius: 8px;
  // }
  // .ant-card-body {
  //   padding: 0;
  //   // border-radius: 10px;
  // }
  // .card-box {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   width: 100%;
  //   height: 100%;
  //   // background: aliceblue;
  //   cursor: pointer;

  //   img {
  //     width: 300px;
  //     height: 300px;
  //     border-radius: 8px 8px 0 0;
  //   }
  //   .details {
  //     width: 100%;
  //     padding: 20px;
  //     background: aliceblue;
  //     //   display: flex;
  //     //   justify-content: center;
  //     //   align-items: center;
  //     //   flex-direction: column;
  //     border-radius: 0px 0px 8px 8px;
  //     p {
  //       margin: 0;
  //       font-weight: normal;
  //       color: #555;
  //       text-transform: capitalize;
  //     }
  //   }
  // }
}
// .card-container {
//   box-shadow: -2px 3px 14px -10px rgba(0, 0, 0, 0.59);
//   // border-radius: 8px;
//   // border-radius: 10px;

//   .ant-card-bordered {
//     // border-radius: 10px;
//     border: 0;
//     border-radius: 8px;
//   }
//   .ant-card-body {
//     padding: 0;
//     // border-radius: 10px;
//   }
//   .card-box {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     width: 100%;
//     height: 100%;
//     // background: aliceblue;
//     cursor: pointer;

//     img {
//       width: 300px;
//       height: 300px;
//       border-radius: 8px 8px 0 0;
//     }
//     .details {
//       width: 100%;
//       padding: 20px;
//       background: aliceblue;
//       //   display: flex;
//       //   justify-content: center;
//       //   align-items: center;
//       //   flex-direction: column;
//       border-radius: 0px 0px 8px 8px;
//       p {
//         margin: 0;
//         font-weight: normal;
//         color: #555;
//         text-transform: capitalize;
//       }
//     }
//   }
// }
