@import "../styles/main.scss";

.latest-product-wrapper {
  @include flexWithValue(center, start);
  flex-direction: column;
  .latest-product-container {
    width: 100%;
    .product-wrapper {
      width: 90%;
      margin: auto;
      position: relative;
      .product-box {
        min-height: 350px;
        @include flexWithValue(start, center);
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        @media only screen and (max-width: 1000px) {
          justify-content: center;
        }
      }
    }
  }
}

.heading-container {
  margin: 20px 60px;
  width: 90%;
  @include flexWithValue(space-between, end);
  @media only screen and (max-width: 500px) {
    margin: 20px 20px;
  }
  h1 {
    margin: 0.2em 0rem;
    font-weight: 700;
  }
  .border-botom {
    width: 100%;
    height: 5px;
    background-color: $yellow;
    border-radius: 5px;
  }
  p {
    color: $yellow;
    // margin: 0.5em 0rem;
    font-weight: bolder;
  }
}
