@import "../styles/main.scss";

.latest-product-wrapper {
  @include flexWithValue(center, start);
  flex-direction: column;
  .latest-product-container {
    width: 100%;
    .product-wrapper {
      width: 90%;
      margin: auto;
      position: relative;
      .product-box {
        min-height: 350px;
        @include flexWithValue(start, center);
        flex-wrap: wrap;
      }
    }
  }
}

.heading-container {
  margin: 20px 60px;
  width: 90%;
  @include flexWithValue(space-between, end);

  h1 {
    margin: 0.2em 0rem;
    font-weight: 700;
  }
  .border-botom {
    width: 100%;
    height: 5px;
    background-color: $yellow;
    border-radius: 5px;
  }
  p {
    color: $yellow;
    margin: 0.5em 0rem;
    font-weight: bolder;
  }
}
