@import "../../styles/main.scss";

.cart-wrapper {
  background: $white;
  height: calc(100vh - 64px);
  padding: 30px;
  .cart-container {
    // @include flexWithValue(space-between, center);
    // width: 95%;
    // flex-direction: column;
    margin: 0 auto;
    .left-box {
      width: 80%;
      margin: 0 auto;
      h1 {
        font-weight: 500;
      }
    }
    .no-items {
      background-color: $yellow;
      padding: 10px;
      font-size: 20px;
      margin-top: 20px;
      width: 100%;
    }
    .itemBox {
      // display: flex;
      // justify-content: space-between;
      gap: 20px;
    }
    .cartItems {
      @include flexWithValue(start, center);
      // @include flexWithValue(space-evenly, center);

      background-color: $bg;
      height: 140px;
      border-radius: 10px;
      margin: 20px 0;
      padding: 15px 20px;
      gap: 20px;
      .img-box {
        @include flex();
        width: 100px;
        max-height: 130px;
        // padding: 20px;
        img {
          max-width: 150px;
          max-height: 120px;
        }
      }
      .detail-box {
        @include flexWithValue(space-evenly, center);
        width: 100%;
        .product-name {
          width: 200px;
          word-wrap: break-word;
          color: $black;
        }
      }
    }
    .total-checkout-container {
      border: 2px solid $yellow;
      .heading {
        padding: 10px;
        h1 {
          font-weight: 500;
          color: gray;
        }
      }
      .checkout-btn {
        @include flex();
        margin-top: 20px;
        border-top: 2px solid $yellow;
        padding: 10px;
        // margin: 10px 0;
      }
    }
  }
}
